@font-face {
    font-family: "GWIBBLE";
    src: url(../font/GWIBBLE_.woff) format("woff");
    src: url(../font/GWIBBLE_.woff2) format("woff2");
}
html {
    min-width: 55vh;
}
body {
    font-family: GWIBBLE, serif;
    background: linear-gradient(to right, rgb(25, 106, 153), rgb(167, 94, 51));
}
/*Header and game info*/
h1 {
    font-weight: bolder;
    text-align: center;
    font-size: 7em;
    background: linear-gradient(to right, rgb(161, 83, 38),rgb(0, 71, 112));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.info-container {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
}
.game-info {
    font-size: 3em;
}
.left {
    color: rgb(88, 37, 8);
}
.right {
    color:rgb(12, 79, 117);
}
/*Game content styled as a grid  */
.game-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;  
    grid-gap: 10px;
}
/*Game card style*/
.card {
    position: relative;
    height: 152px;
    width: 142px;
}
.card-style {
    position: absolute;
    width: 100%;
    height: 96%;
    display: flex;
    justify-content: center;
    margin: 10px;  
    align-items: center;
    border-radius: 20px;
    border-width: 5px;
    border-style: solid;
    overflow: hidden;
}
/*It show card value when you hover over it*/
.card:hover .card-value {
    z-index: 1;
}
/*Text that appear when you need to start the game, when game is over or when you finnished game*/
.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color:rgb(100, 161, 214)
}
.overlay.visible{
    display: flex;
    animation: overlay-grow 500ms forwards;
    flex-direction: column;
}
@keyframes overlay-grow {
    from {
        background-color: rgba(0,0,0,0);
        font-size: 0;
    }
    to {
        background-color: rgba(0,0,0,0.8);
        font-size: 10em;
    }   
}
.text-smaller {
    font-size: .4em;
}
@media (max-width:800px) {
    .game-container {
        grid-template-columns: repeat(4, auto);
    }
}
@media (max-width:600px) {
    .game-container {
        grid-template-columns: repeat(3, auto);
    }
}
